<h2 mat-dialog-title>Add folder</h2>
<mat-dialog-content>
  <form class="new-folder-form">
    <mat-form-field class="new-folder-field">
      <input matInput placeholder="New Folder" [(ngModel)]="folderName" name="new folder"/>
    </mat-form-field>
    <mat-form-field class="new-folder-field">
      <input matInput placeholder="Folder to Add to" [(ngModel)]="existingFolder" name="existing folder"/>
    </mat-form-field>
  </form>
  <span class="mat-body">{{message}}</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-button (click)="add()">Add</button>
  <button type="button" mat-button (click)="close()">Close</button>
</mat-dialog-actions>
