<h2 mat-dialog-title>Add new bookmark</h2>
<mat-dialog-content>
  <form class="new-bookmark-form">
    <mat-form-field class="new-bookmark-field">
      <input matInput placeholder="URL" [(ngModel)]="link" name="link"/>
    </mat-form-field>
    <mat-form-field class="new-bookmark-field">
      <input matInput placeholder="Name" [(ngModel)]="linkName" name="linkName"/>
    </mat-form-field>
    <mat-form-field class="new-bookmark-field">
      <input matInput placeholder="Folder" [(ngModel)]="folderName" name="folder"/>
    </mat-form-field>
  </form>
  <span class="mat-body">{{message}}</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="add()">Add</button>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
